@font-face {
  font-weight: 400;
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-display: swap;
  src: local("ProximaNovaCond"), url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "ProximaNovaCond";
  font-style: normal;
  font-display: swap;
  src: local("ProximaNovaCond"), url("../fonts/ProximaNovaCond-Semibold.woff2") format("woff2");
}
